
@import "../core/colours";


.user-modal {
  display: flex;

  box-shadow: $shadow;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  max-width: 100%;

  height: 220px;
  max-height: 100%;

  background-color: $colour-white;
  color: $colour-primary;
}

.modal-content {
  justify-content: center;
  align-items: center;
  flex-flow: column;
  display: flex;
  width: 100%;
  height: 100%;

  padding: 20px 30px 20px 20px;
}

.modal-form {
  background-color: $colour-white;
    padding: 1%;
    width: 95%;
    display: flex;
    flex-flow: column;
}

.username-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid $colour-primary;
  color: $colour-primary;
  font-size: 1.4em;
  font-weight: 700;
}

.username-submit {
  margin-top: 15px;
  border: none;
  background: $colour-primary;
  font-size: 1.05em;
  font-weight: 600;
  color: $colour-white;
  padding: 10px;
  border-radius: 10px;
}

.username-submit:hover {
  cursor: pointer;
  background-color: $colour-secondary;
  color: $colour-primary;
}

.username-label {
  color: $colour-accent;
  font-weight: 700;
  font-size: 0.8em;
}

.username-div {
  width: auto;
  max-width: 75px;
  min-width: 50px;
}