
@import "../core/colours";

.social-bar-container {
    width: 12.5%;
    color: $colour-primary;
    padding: 1%;
}

.online-users-tile {
    background-color: $colour-primary;
    width: 70%;
    padding: 15px;
    border-radius: 8px;
    color: white;
    box-shadow: $subtle-shadow;
}