@import "../core/colours";

.social-bar-container {
    width: 12.5%;
    color: $colour-primary;
    padding: 1%;
}

.users-tile {
    background-color: $colour-primary;
    width: 90%;
    padding: 15px;
    border-radius: 8px;
    color: white;
    box-shadow: $subtle-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.users-name {

}

.user-status {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #bbb;

    &.online {
            background-color: green;
    }

    &.offline {
            background-color: red;
    }
}