@import "../core/colours";

.chat-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    flex-flow: column;
    align-items: flex-start;
    background: $background;
}

.chat-bar {
    position: fixed;
    bottom: 0;
    padding: 16px;
    background: $colour-accent;
    width: 100%;
    display: flex;
    box-shadow:  $shadow;
    justify-content: space-between;
    align-items: center;

    & .chat-bar-heading {
        color: $colour-secondary;
        margin: 5px;
    }
}

.chat-message {
    width: 70%;
    height: 75px;
    overflow: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-right: 1.5%;
    background: $colour-white;
    padding: 15px;
    border: 2px solid $colour-white;
    border-radius: 6px;
}

.chat-message-input {
    height: 100%;
    width: 70%;
    align-self: center;
    border: none;
    font-size: 16px;
    background: $colour-white;

}

.chat-message-submit {
    max-width: 75px;
    flex: 1;
    border: none;
    background: $colour-white;
    font-size: 1.2em;
    min-height: 30px;
    font-weight: 600;
    color: $colour-secondary;
    
    &:hover {
        cursor: pointer;
        border: 2px solid $colour-accent;
        border-radius: 4px;
    }
}

.chat-window-content {
    display: flex;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    margin: 5px;
    background: $colour-secondary;
    color: $colour-white;
    border-radius: 12px;
    box-shadow: $shadow;
    max-width: 60%;
}

.chat-window-text {
    width: 100%;
}

.chat-window {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1.2em;
}